In [15]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [16]:
#carga desde un archivo .csv sin indice 
data = pd.read_csv('listings.csv')
data.head(5)

,id,listing_url,host_id,host_since,host_response_time,host_response_rate,host_acceptance_rate,host_is_superhost,host_listings_count,host_total_listings_count,...,review_scores_checkin,review_scores_communication,review_scores_location,review_scores_value,instant_bookable,calculated_host_listings_count,calculated_host_listings_count_entire_homes,calculated_host_listings_count_private_rooms,calculated_host_listings_count_shared_rooms,reviews_per_month
0,97945.0,https://www.airbnb.com/rooms/97945,517685,18/04/2011,a few days or more,0%,6%,f,2,3,...,4.90,4.93,4.78,4.73,f,2,2,0,0,0.80
1,114695.0,https://www.airbnb.com/rooms/114695,581737,12/05/2011,within an hour,100%,99%,t,3,3,...,4.97,5.00,4.66,4.61,f,3,3,0,0,0.46
2,127383.0,https://www.airbnb.com/rooms/127383,630556,26/05/2011,within an hour,100%,92%,f,2,2,...,4.98,4.96,4.91,4.81,f,1,1,0,0,0.71
3,159634.0,https://www.airbnb.com/rooms/159634,765694,01/07/2011,within an hour,100%,78%,f,1,1,...,4.78,4.80,4.59,4.44,t,1,1,0,0,0.26
4,170154.0,https://www.airbnb.com/rooms/170154,108297,14/04/2010,within a few hours,100%,100%,t,1,1,...,4.99,4.98,4.77,4.91,f,1,0,1,0,3.58

In [17]:
# Identificar y mostrar columnas con valores nulos
valores_nulos = data.isnull().sum()
valores_nulos = valores_nulos[valores_nulos > 0]  # Filtrar solo columnas con nulos

print(valores_nulos)

host_response_time             2168
host_response_rate             2168
host_acceptance_rate           1590
host_is_superhost                69
bathrooms                      2202
bathrooms_text                   11
bedrooms                        715
beds                           2201
price                          2195
has_availability                309
first_review                   2071
last_review                    2071
review_scores_rating           2071
review_scores_accuracy         2071
review_scores_cleanliness      2071
review_scores_checkin          2071
review_scores_communication    2071
review_scores_location         2071
review_scores_value            2071
reviews_per_month              2071
dtype: int64

In [18]:
#Identificar cuantos valores nulos tengo por columna 
valores_nulos = data.isnull().sum().sum()
valores_nulos

np.int64(34338)

In [19]:
#Corroboramos valores nulos
valores_nulos = data.isnull().sum()
valores_nulos

id                                                 0
listing_url                                        0
host_id                                            0
host_since                                         0
host_response_time                              2168
host_response_rate                              2168
host_acceptance_rate                            1590
host_is_superhost                                 69
host_listings_count                                0
host_total_listings_count                          0
host_verifications                                 0
neighbourhood_cleansed                             0
latitude                                           0
longitude                                          0
property_type                                      0
room_type                                          0
accommodates                                       0
bathrooms                                       2202
bathrooms_text                                    11
bedrooms                                         715
beds                                            2201
amenities                                          0
price                                           2195
minimum_nights                                     0
maximum_nights                                     0
minimum_nights_avg_ntm                             0
maximum_nights_avg_ntm                             0
has_availability                                 309
availability_30                                    0
availability_60                                    0
availability_90                                    0
availability_365                                   0
number_of_reviews                                  0
number_of_reviews_ltm                              0
number_of_reviews_l30d                             0
first_review                                    2071
last_review                                     2071
review_scores_rating                            2071
review_scores_accuracy                          2071
review_scores_cleanliness                       2071
review_scores_checkin                           2071
review_scores_communication                     2071
review_scores_location                          2071
review_scores_value                             2071
instant_bookable                                   0
calculated_host_listings_count                     0
calculated_host_listings_count_entire_homes        0
calculated_host_listings_count_private_rooms       0
calculated_host_listings_count_shared_rooms        0
reviews_per_month                               2071
dtype: int64

In [20]:
# df =pd.read_csv('listings.csv')
num_columnas = len(data.columns)
print(num_columnas)

50

**Métodos de Sustitución de Valores Nulos**

In [21]:
#Realizamos una copia del dataframe 
data2= data.copy()

In [22]:
data2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8021 entries, 0 to 8020
Data columns (total 50 columns):
 #   Column                                        Non-Null Count  Dtype
---  ------                                        --------------  -----
 0   id                                            8021 non-null   float64
 1   listing_url                                   8021 non-null   object
 2   host_id                                       8021 non-null   int64
 3   host_since                                    8021 non-null   object
 4   host_response_time                            5853 non-null   object
 5   host_response_rate                            5853 non-null   object
 6   host_acceptance_rate                          6431 non-null   object
 7   host_is_superhost                             7952 non-null   object
 8   host_listings_count                           8021 non-null   int64
 9   host_total_listings_count                     8021 non-null   int64
 10  host_verifications                            8021 non-null   object
 11  neighbourhood_cleansed                        8021 non-null   object
 12  latitude                                      8021 non-null   float64
 13  longitude                                     8021 non-null   float64
 14  property_type                                 8021 non-null   object
 15  room_type                                     8021 non-null   object
 16  accommodates                                  8021 non-null   int64
 17  bathrooms                                     5819 non-null   float64
 18  bathrooms_text                                8010 non-null   object
 19  bedrooms                                      7306 non-null   float64
 20  beds                                          5820 non-null   float64
 21  amenities                                     8021 non-null   object
 22  price                                         5826 non-null   object
 23  minimum_nights                                8021 non-null   int64
 24  maximum_nights                                8021 non-null   int64
 25  minimum_nights_avg_ntm                        8021 non-null   float64
 26  maximum_nights_avg_ntm                        8021 non-null   float64
 27  has_availability                              7712 non-null   object
 28  availability_30                               8021 non-null   int64
 29  availability_60                               8021 non-null   int64
 30  availability_90                               8021 non-null   int64
 31  availability_365                              8021 non-null   int64
 32  number_of_reviews                             8021 non-null   int64
 33  number_of_reviews_ltm                         8021 non-null   int64
 34  number_of_reviews_l30d                        8021 non-null   int64
 35  first_review                                  5950 non-null   object
 36  last_review                                   5950 non-null   object
 37  review_scores_rating                          5950 non-null   float64
 38  review_scores_accuracy                        5950 non-null   float64
 39  review_scores_cleanliness                     5950 non-null   float64
 40  review_scores_checkin                         5950 non-null   float64
 41  review_scores_communication                   5950 non-null   float64
 42  review_scores_location                        5950 non-null   float64
 43  review_scores_value                           5950 non-null   float64
 44  instant_bookable                              8021 non-null   object
 45  calculated_host_listings_count                8021 non-null   int64
 46  calculated_host_listings_count_entire_homes   8021 non-null   int64
 47  calculated_host_listings_count_private_rooms  8021 non-null   int64
 48  calculated_host_listings_count_shared_rooms   8021 non-null   int64
 49  reviews_per_month                             5950 non-null   float64
dtypes: float64(16), int64(17), object(17)
memory usage: 3.1+ MB

In [23]:
data2["host_response_time"] = data2["host_response_time"].fillna("Estado de manera desconocida")

In [25]:
# Identificar y mostrar columnas con valores nulos
valores_nulos = data2.isnull().sum()
valores_nulos = valores_nulos[valores_nulos > 0]  # Filtrar solo columnas con nulos

print(valores_nulos)

host_response_rate             2168
host_acceptance_rate           1590
host_is_superhost                69
bathrooms                      2202
bathrooms_text                   11
bedrooms                        715
beds                           2201
price                          2195
has_availability                309
first_review                   2071
last_review                    2071
review_scores_rating           2071
review_scores_accuracy         2071
review_scores_cleanliness      2071
review_scores_checkin          2071
review_scores_communication    2071
review_scores_location         2071
review_scores_value            2071
reviews_per_month              2071
dtype: int64

In [27]:
#Quinto método de sustitución de valores nulos 
#Sustituir valores nulos por valores no nulos hacia adelante "forward fill" ("ffill")
#Filtro por columnas
data2["host_response_rate"] = data2["host_response_rate"].fillna(method="ffill")

C:\Users\ramos\AppData\Local\Temp\ipykernel_300\3698680681.py:4: FutureWarning: Series.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  data2["host_response_rate"] = data2["host_response_rate"].fillna(method="ffill")

In [28]:
# Identificar y mostrar columnas con valores nulos
valores_nulos = data2.isnull().sum()
valores_nulos = valores_nulos[valores_nulos > 0]  # Filtrar solo columnas con nulos

print(valores_nulos)

host_acceptance_rate           1590
host_is_superhost                69
bathrooms                      2202
bathrooms_text                   11
bedrooms                        715
beds                           2201
price                          2195
has_availability                309
first_review                   2071
last_review                    2071
review_scores_rating           2071
review_scores_accuracy         2071
review_scores_cleanliness      2071
review_scores_checkin          2071
review_scores_communication    2071
review_scores_location         2071
review_scores_value            2071
reviews_per_month              2071
dtype: int64

In [33]:
#Sexto método de sustitución de valores nulos 
#Sustituir valores nulos por valores no nulos hacia atrás backward fill ("bfill")
#Filtro por columnas 
data2["host_acceptance_rate"] = data2["host_acceptance_rate"].fillna(method="bfill")
#La variable requirio dos tecnicas, ya que con el bfill, faltaron 8, con un ffill se pudieron quitar los últimos 8 nulos que quedaban
# data2["host_acceptance_rate"] = data2["host_acceptance_rate"].fillna(method="ffill")

C:\Users\ramos\AppData\Local\Temp\ipykernel_300\4243326285.py:4: FutureWarning: Series.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  data2["host_acceptance_rate"] = data2["host_acceptance_rate"].fillna(method="ffill")

In [35]:
# Identificar y mostrar columnas con valores nulos
valores_nulos = data2.isnull().sum()
valores_nulos = valores_nulos[valores_nulos > 0]  # Filtrar solo columnas con nulos

print(valores_nulos)

host_is_superhost                69
bathrooms                      2202
bathrooms_text                   11
bedrooms                        715
beds                           2201
price                          2195
has_availability                309
first_review                   2071
last_review                    2071
review_scores_rating           2071
review_scores_accuracy         2071
review_scores_cleanliness      2071
review_scores_checkin          2071
review_scores_communication    2071
review_scores_location         2071
review_scores_value            2071
reviews_per_month              2071
dtype: int64

In [ ]:
# Identificar y mostrar columnas con valores nulos
valores_nulos = data2.isnull().sum()
valores_nulos

In [37]:
#Cuarto método de sustitución de valores nulos
#Sustituir valores nulos por string en concreto
data2["host_is_superhost"] = data2["host_is_superhost"].fillna("Sin identificar")

In [38]:
# Identificar y mostrar columnas con valores nulos
valores_nulos = data2.isnull().sum()
valores_nulos = valores_nulos[valores_nulos > 0]  # Filtrar solo columnas con nulos

print(valores_nulos)

bathrooms                      2202
bathrooms_text                   11
bedrooms                        715
beds                           2201
price                          2195
has_availability                309
first_review                   2071
last_review                    2071
review_scores_rating           2071
review_scores_accuracy         2071
review_scores_cleanliness      2071
review_scores_checkin          2071
review_scores_communication    2071
review_scores_location         2071
review_scores_value            2071
reviews_per_month              2071
dtype: int64

In [39]:
#Primer método de sustitución de valores nulos
#Sustituir nulos con promedio o media
data2["bathrooms"] = data2["bathrooms"].fillna(round(data["bathrooms"].mean(),1))

In [40]:
# Identificar y mostrar columnas con valores nulos
valores_nulos = data2.isnull().sum()
valores_nulos = valores_nulos[valores_nulos > 0]  # Filtrar solo columnas con nulos

print(valores_nulos)

bathrooms_text                   11
bedrooms                        715
beds                           2201
price                          2195
has_availability                309
first_review                   2071
last_review                    2071
review_scores_rating           2071
review_scores_accuracy         2071
review_scores_cleanliness      2071
review_scores_checkin          2071
review_scores_communication    2071
review_scores_location         2071
review_scores_value            2071
reviews_per_month              2071
dtype: int64

In [42]:
#Quinto método de sustitución de valores nulos "forward ffill" ("ffill")
data2["bathrooms_text"] = data2["bathrooms_text"].fillna(method="ffill")

C:\Users\ramos\AppData\Local\Temp\ipykernel_300\1066639516.py:2: FutureWarning: Series.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  data2["bathrooms_text"] = data2["bathrooms_text"].fillna(method="ffill")

In [43]:
# Identificar y mostrar columnas con valores nulos
valores_nulos = data2.isnull().sum()
valores_nulos = valores_nulos[valores_nulos > 0]  # Filtrar solo columnas con nulos

print(valores_nulos)

bedrooms                        715
beds                           2201
price                          2195
has_availability                309
first_review                   2071
last_review                    2071
review_scores_rating           2071
review_scores_accuracy         2071
review_scores_cleanliness      2071
review_scores_checkin          2071
review_scores_communication    2071
review_scores_location         2071
review_scores_value            2071
reviews_per_month              2071
dtype: int64

In [44]:
#Segundo método de sustitución de valores nulos
#Sustituir valores nulos con mediana 
data2['bedrooms'] = data2["bedrooms"].fillna(round(data["bedrooms"].median(),1))

In [45]:
# Identificar y mostrar columnas con valores nulos
valores_nulos = data2.isnull().sum()
valores_nulos = valores_nulos[valores_nulos > 0]  # Filtrar solo columnas con nulos

print(valores_nulos)

beds                           2201
price                          2195
has_availability                309
first_review                   2071
last_review                    2071
review_scores_rating           2071
review_scores_accuracy         2071
review_scores_cleanliness      2071
review_scores_checkin          2071
review_scores_communication    2071
review_scores_location         2071
review_scores_value            2071
reviews_per_month              2071
dtype: int64

In [66]:
info = data2['review_scores_rating'].dtype
info

dtype('float64')

In [47]:
#Primer método de sustitución de valores nulos
#Sustituir nulos con promedio o media
data2["beds"] = data2["beds"].fillna(round(data["beds"].mean(),1))

In [48]:
# Identificar y mostrar columnas con valores nulos
valores_nulos = data2.isnull().sum()
valores_nulos = valores_nulos[valores_nulos > 0]  # Filtrar solo columnas con nulos

print(valores_nulos)

price                          2195
has_availability                309
first_review                   2071
last_review                    2071
review_scores_rating           2071
review_scores_accuracy         2071
review_scores_cleanliness      2071
review_scores_checkin          2071
review_scores_communication    2071
review_scores_location         2071
review_scores_value            2071
reviews_per_month              2071
dtype: int64

In [56]:
#Quinto método de sustitución de valores nulos 
#Sustituir valores nulos por valores no nulos hacia adelante "forward fill" ("ffill")
#Filtro por columnas
data2["price"] = data2["price"].fillna(method="ffill")

C:\Users\ramos\AppData\Local\Temp\ipykernel_300\3452979457.py:4: FutureWarning: Series.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  data2["price"] = data2["price"].fillna(method="ffill")

In [57]:
# Identificar y mostrar columnas con valores nulos
valores_nulos = data2.isnull().sum()
valores_nulos = valores_nulos[valores_nulos > 0]  # Filtrar solo columnas con nulos

print(valores_nulos)

has_availability                309
first_review                   2071
last_review                    2071
review_scores_rating           2071
review_scores_accuracy         2071
review_scores_cleanliness      2071
review_scores_checkin          2071
review_scores_communication    2071
review_scores_location         2071
review_scores_value            2071
reviews_per_month              2071
dtype: int64

In [58]:
#Sexto método de sustitución de valores nulos 
#Sustituir valores nulos por valores no nulos hacia atrás backward fill ("bfill")
#Filtro por columnas 
data2["has_availability"] = data2["has_availability"].fillna(method="bfill")

C:\Users\ramos\AppData\Local\Temp\ipykernel_300\159739365.py:4: FutureWarning: Series.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  data2["has_availability"] = data2["has_availability"].fillna(method="bfill")

In [59]:
# Identificar y mostrar columnas con valores nulos
valores_nulos = data2.isnull().sum()
valores_nulos = valores_nulos[valores_nulos > 0]  # Filtrar solo columnas con nulos

print(valores_nulos)

first_review                   2071
last_review                    2071
review_scores_rating           2071
review_scores_accuracy         2071
review_scores_cleanliness      2071
review_scores_checkin          2071
review_scores_communication    2071
review_scores_location         2071
review_scores_value            2071
reviews_per_month              2071
dtype: int64

In [62]:
#Cuarto método de sustitución de valores nulos
#Sustituir valores nulos por string en concreto
data2["first_review"] = data2["first_review"].fillna("2011-06-19")

In [63]:
# Identificar y mostrar columnas con valores nulos
valores_nulos = data2.isnull().sum()
valores_nulos = valores_nulos[valores_nulos > 0]  # Filtrar solo columnas con nulos

print(valores_nulos)

last_review                    2071
review_scores_rating           2071
review_scores_accuracy         2071
review_scores_cleanliness      2071
review_scores_checkin          2071
review_scores_communication    2071
review_scores_location         2071
review_scores_value            2071
reviews_per_month              2071
dtype: int64

In [64]:
#Cuarto método de sustitución de valores nulos
#Sustituir valores nulos por string en concreto
data2["last_review"] = data2["last_review"].fillna("2024-12-05")

In [65]:
# Identificar y mostrar columnas con valores nulos
valores_nulos = data2.isnull().sum()
valores_nulos = valores_nulos[valores_nulos > 0]  # Filtrar solo columnas con nulos

print(valores_nulos)

review_scores_rating           2071
review_scores_accuracy         2071
review_scores_cleanliness      2071
review_scores_checkin          2071
review_scores_communication    2071
review_scores_location         2071
review_scores_value            2071
reviews_per_month              2071
dtype: int64

In [67]:
#Segundo método de sustitución de valores nulos
#Sustituir valores nulos con mediana 
data2['review_scores_rating'] = data2["review_scores_rating"].fillna(round(data["review_scores_rating"].median(),1))

In [68]:
# Identificar y mostrar columnas con valores nulos
valores_nulos = data2.isnull().sum()
valores_nulos = valores_nulos[valores_nulos > 0]  # Filtrar solo columnas con nulos

print(valores_nulos)

review_scores_accuracy         2071
review_scores_cleanliness      2071
review_scores_checkin          2071
review_scores_communication    2071
review_scores_location         2071
review_scores_value            2071
reviews_per_month              2071
dtype: int64

In [69]:
#Primer método de sustitución de valores nulos
#Sustituir nulos con promedio o media
data2["review_scores_accuracy"] = data2["review_scores_accuracy"].fillna(round(data["review_scores_accuracy"].mean(),1))

In [70]:
# Identificar y mostrar columnas con valores nulos
valores_nulos = data2.isnull().sum()
valores_nulos = valores_nulos[valores_nulos > 0]  # Filtrar solo columnas con nulos

print(valores_nulos)

review_scores_cleanliness      2071
review_scores_checkin          2071
review_scores_communication    2071
review_scores_location         2071
review_scores_value            2071
reviews_per_month              2071
dtype: int64

In [71]:
#Quinto método de sustitución de valores nulos 
data2["review_scores_cleanliness"] = data2["review_scores_cleanliness"].fillna(method="ffill")

C:\Users\ramos\AppData\Local\Temp\ipykernel_300\259634069.py:2: FutureWarning: Series.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  data2["review_scores_cleanliness"] = data2["review_scores_cleanliness"].fillna(method="ffill")

In [72]:
# Identificar y mostrar columnas con valores nulos
valores_nulos = data2.isnull().sum()
valores_nulos = valores_nulos[valores_nulos > 0]  # Filtrar solo columnas con nulos

print(valores_nulos)

review_scores_checkin          2071
review_scores_communication    2071
review_scores_location         2071
review_scores_value            2071
reviews_per_month              2071
dtype: int64

In [73]:
#Sexto método de sustitución de valores nulos 
data2["review_scores_checkin"] = data2["review_scores_checkin"].fillna(method="bfill")

C:\Users\ramos\AppData\Local\Temp\ipykernel_300\869953326.py:2: FutureWarning: Series.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  data2["review_scores_checkin"] = data2["review_scores_checkin"].fillna(method="bfill")

In [74]:
# Identificar y mostrar columnas con valores nulos
valores_nulos = data2.isnull().sum()
valores_nulos = valores_nulos[valores_nulos > 0]  # Filtrar solo columnas con nulos

print(valores_nulos)

review_scores_checkin           112
review_scores_communication    2071
review_scores_location         2071
review_scores_value            2071
reviews_per_month              2071
dtype: int64

In [75]:
data2["review_scores_checkin"] = data2["review_scores_checkin"].fillna(round(data["review_scores_checkin"].mean(),1))

In [76]:
# Identificar y mostrar columnas con valores nulos
valores_nulos = data2.isnull().sum()
valores_nulos = valores_nulos[valores_nulos > 0]  # Filtrar solo columnas con nulos

print(valores_nulos)

review_scores_communication    2071
review_scores_location         2071
review_scores_value            2071
reviews_per_month              2071
dtype: int64

In [77]:
data2["review_scores_communication"] = data2["review_scores_communication"].fillna(round(data["review_scores_communication"].median(),1))

In [78]:
# Identificar y mostrar columnas con valores nulos
valores_nulos = data2.isnull().sum()
valores_nulos = valores_nulos[valores_nulos > 0]  # Filtrar solo columnas con nulos

print(valores_nulos)

review_scores_location    2071
review_scores_value       2071
reviews_per_month         2071
dtype: int64

In [79]:
data2["review_scores_location"] = data2["review_scores_location"].fillna(round(data["review_scores_location"].median(),1))

In [80]:
# Identificar y mostrar columnas con valores nulos
valores_nulos = data2.isnull().sum()
valores_nulos = valores_nulos[valores_nulos > 0]  # Filtrar solo columnas con nulos

print(valores_nulos)

review_scores_value    2071
reviews_per_month      2071
dtype: int64

In [81]:
#Quinto método de sustitución de valores nulos 
#Sustituir valores nulos por valores no nulos hacia adelante "forward fill" ("ffill")
#Filtro por columnas
data2["review_scores_value"] = data2["review_scores_value"].fillna(method="ffill")

C:\Users\ramos\AppData\Local\Temp\ipykernel_300\3715941985.py:4: FutureWarning: Series.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  data2["review_scores_value"] = data2["review_scores_value"].fillna(method="ffill")

In [82]:
# Identificar y mostrar columnas con valores nulos
valores_nulos = data2.isnull().sum()
valores_nulos = valores_nulos[valores_nulos > 0]  # Filtrar solo columnas con nulos

print(valores_nulos)

reviews_per_month    2071
dtype: int64

In [85]:
data2["reviews_per_month"] = data2["reviews_per_month"].fillna(method="ffill")

C:\Users\ramos\AppData\Local\Temp\ipykernel_300\2191179178.py:4: FutureWarning: Series.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  data2["reviews_per_month"] = data2["reviews_per_month"].fillna(method="ffill")

In [86]:
# Identificar y mostrar columnas con valores nulos
valores_nulos = data2.isnull().sum()
valores_nulos = valores_nulos[valores_nulos > 0]  # Filtrar solo columnas con nulos

print(valores_nulos)

Series([], dtype: int64)

In [87]:
#Identificar valores nulos por dataframe
valores_nulos = data2.isnull().sum().sum()
valores_nulos

np.int64(0)

In [88]:
#Identificar valores nulos por dataframe
valores_nulos = data2.isnull().sum()
valores_nulos

id                                              0
listing_url                                     0
host_id                                         0
host_since                                      0
host_response_time                              0
host_response_rate                              0
host_acceptance_rate                            0
host_is_superhost                               0
host_listings_count                             0
host_total_listings_count                       0
host_verifications                              0
neighbourhood_cleansed                          0
latitude                                        0
longitude                                       0
property_type                                   0
room_type                                       0
accommodates                                    0
bathrooms                                       0
bathrooms_text                                  0
bedrooms                                        0
beds                                            0
amenities                                       0
price                                           0
minimum_nights                                  0
maximum_nights                                  0
minimum_nights_avg_ntm                          0
maximum_nights_avg_ntm                          0
has_availability                                0
availability_30                                 0
availability_60                                 0
availability_90                                 0
availability_365                                0
number_of_reviews                               0
number_of_reviews_ltm                           0
number_of_reviews_l30d                          0
first_review                                    0
last_review                                     0
review_scores_rating                            0
review_scores_accuracy                          0
review_scores_cleanliness                       0
review_scores_checkin                           0
review_scores_communication                     0
review_scores_location                          0
review_scores_value                             0
instant_bookable                                0
calculated_host_listings_count                  0
calculated_host_listings_count_entire_homes     0
calculated_host_listings_count_private_rooms    0
calculated_host_listings_count_shared_rooms     0
reviews_per_month                               0
dtype: int64

**Convertir DataSet sin valores nulos a CSV**

In [89]:
#Convertir DataFrame a CSV
data2.to_csv("listing_pais_sin_nulos.csv")